@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start 2P:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --image-0: url(../components/graphic/graphics0.png);
  --image-1: url(../components/graphic/graphics1.png);
  --image-2: url(../components/graphic/graphics2.png);
  --image-3: url(../components/graphic/graphics3.png);
  --image-4: url(../components/graphic/graphics4.png);
  --image-5: url(../components/graphic/graphics5.png);
  --image-6: url(../components/graphic/graphics6.png);
  --image-7: url(../components/graphic/graphics7.png);
  --image-8: url(../components/graphic/graphics8.png);
  --image-9: url(../components/graphic/graphics9.png);
  --image-10: url(../components/graphic/graphics10.png);
  --image-11: url(../components/graphic/graphics11.png);
  --image-12: url(../components/graphic/graphics12.png);
  --image-13: url(../components/graphic/graphics13.png);
  --image-14: url(../components/graphic/graphics14.png);
  --image-15: url(../components/graphic/graphics15.png);
  --image-16: url(../components/graphic/graphics16.png);
  --image-17: url(../components/graphic/graphics17.png);
  --image-18: url(../components/graphic/graphics18.png);
  --image-19: url(../components/graphic/graphics19.png);
  --custom-width: 100vw;
  --design-width: 1440;
  --ratio: calc(var(--custom-width) / var(--design-width));
}

/* Default classes */
.pos-abs {
  position: absolute;
}
.fill-parent {
  width: 100%;
  height: 100%;
}
.bg-contain {
  background-size: contain;
}
.bg-cover {
  background-size: cover;
}
.bg-auto {
  background-size: auto;
}
.bg-crop {
  background-size: 100% 100%;
}
.bg-no-repeat {
  background-repeat: no-repeat;
}
.pos-init {
  top: 0px;
  left: 0px;
}
.image-div {
  background-color: transparent;
  background-position: center;
}
/* Default classes end */

/* Default classes */
.pos-abs {
  position: absolute;
}
.fill-parent {
  width: 100%;
  height: 100%;
}
.bg-contain {
  background-size: contain;
}
.bg-cover {
  background-size: cover;
}
.bg-auto {
  background-size: auto;
}
.bg-crop {
  background-size: 100% 100%;
}
.bg-no-repeat {
  background-repeat: no-repeat;
}
.pos-init {
  top: 0px;
  left: 0px;
}
.image-div {
  background-color: transparent;
  background-position: center;
}
/* Default classes end */
body {
  margin: 0px 0px;
  padding: 0px;
}
.parent-div {
  position: relative;
  width: var(--custom-width);
  height: calc(1024 * var(--ratio));
  overflow: hidden;
  margin: auto;
  padding: 0px;
  box-sizing: border-box;
}
.student-dashboard-wrapper {
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  opacity: 1;
  z-index: 1;
  transform: rotate(0deg);
  overflow: hidden;
  background: #ffffffff;
}
.header-background {
  width: 100%;
  height: 62.5%;
  top: 0%;
  left: 0%;
  opacity: 1;
  z-index: 0;
  transform: rotate(0deg);
  overflow: hidden;
  background: #f3f4edff;
}
.add-new-board-button {
  width: 11.94%;
  height: 4.3%;
  top: 3.91%;
  left: 72.64%;
  opacity: 1;
  z-index: 11;
  transform: rotate(0deg);
  border-radius: 15px 15px 15px 15px;
  background: #000000ff;
}
.add-new-board-text {
  width: 72.09%;
  height: 54.55%;
  top: 22.73%;
  left: 13.95%;
  opacity: 1;
  z-index: 0;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.add-new-board-text-1 {
  font-size: calc(16 * var(--ratio));

  line-height: calc(16 * var(--ratio));

  font-family: Poppins;
  font-weight: 500;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #ffffffff;
}
.nodeBg-232221,
.nodeBg-232205,
.nodeBg-232252,
.nodeBg-232253,
.nodeBg-232254,
.nodeBg-232255,
.nodeBg-232241,
.nodeBg-232249,
.nodeBg-232286,
.nodeBg-232334 {
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  opacity: 1;
}
.user-avatar {
  width: 3.06%;
  height: 4.3%;
  top: 3.91%;
  left: 86.18%;
  opacity: 1;
  z-index: 13;
  transform: rotate(0deg);
  overflow: hidden;
  border-radius: 50px 50px 50px 50px;
}
.theme-toggle-wrapper {
  width: 6.94%;
  height: 3.91%;
  top: 4.1%;
  left: 60.69%;
  opacity: 1;
  z-index: 16;
  transform: rotate(0deg);
  overflow: hidden;
  border-radius: 10px 10px 10px 10px;
  box-sizing: border-box;
  border-left: 1px solid #a9a9a6ff;
  border-right: 1px solid #a9a9a6ff;
  border-top: 1px solid #a9a9a6ff;
  border-bottom: 1px solid #a9a9a6ff;
}
.light-theme-toggle {
  width: 50%;
  height: 85%;
  top: 7.5%;
  left: 4%;
  opacity: 1;
  z-index: 0;
  transform: rotate(0deg);
  overflow: hidden;
  border-radius: 10px 10px 10px 10px;
  background: #fffbb8ff;
}
.light-theme-icon {
  width: 48%;
  height: 70.59%;
  top: 14.71%;
  left: 26%;
  opacity: 1;
  z-index: 0;
  transform: rotate(0deg);
  overflow: hidden;
}
.nodeBg-232228 {
  opacity: 1;
  background-image: var(--image-0);
}
.light-theme-icon-sun {
  width: 97.92%;
  height: 97.92%;
  top: 1.04%;
  left: 1.04%;
  opacity: 1;
  z-index: 0;
  transform: rotate(0deg);
  overflow: hidden;
  box-sizing: border-box;
}
.dark-theme-icon {
  width: 24%;
  height: 60%;
  top: 20%;
  left: 64%;
  opacity: 1;
  z-index: 1;
  transform: rotate(0deg);
  overflow: hidden;
}
.nodeBg-232230 {
  opacity: 1;
  background-image: var(--image-1);
}
.dark-theme-icon-moon {
  width: 66.18%;
  height: 66.27%;
  top: 17.07%;
  left: 16.91%;
  opacity: 1;
  z-index: 0;
  transform: rotate(0deg);
  overflow: hidden;
}
.nav-item-dashboard {
  width: 7.15%;
  height: 2.64%;
  top: 4.69%;
  left: 18.75%;
  opacity: 1;
  z-index: 6;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.nav-item-dashboard-1 {
  font-size: calc(18 * var(--ratio));

  line-height: calc(18 * var(--ratio));

  font-family: Poppins;
  font-weight: 600;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #000000ff;
}
.nav-item-courses {
  width: 5.14%;
  height: 2.64%;
  top: 4.69%;
  left: 28.13%;
  opacity: 1;
  z-index: 7;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.nav-item-courses-1,
.nav-item-resources-1,
.nav-item-statistics-1 {
  font-size: calc(18 * var(--ratio));

  line-height: calc(18 * var(--ratio));

  font-family: Poppins;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #000000ff;
}
.nav-item-resources {
  width: 6.46%;
  height: 2.64%;
  top: 4.69%;
  left: 35.49%;
  opacity: 1;
  z-index: 8;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.nav-item-statistics {
  width: 5.63%;
  height: 2.64%;
  top: 4.69%;
  left: 44.17%;
  opacity: 1;
  z-index: 9;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.logo-text {
  width: 5%;
  height: 2.34%;
  top: 4.88%;
  left: 5.56%;
  opacity: 1;
  z-index: 10;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.logo-text-1 {
  font-size: calc(24 * var(--ratio));

  line-height: calc(24 * var(--ratio));

  font-family: Press Start 2P;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #000000ff;
}
.search-icon-wrapper {
  width: 1.67%;
  height: 2.34%;
  top: 4.88%;
  left: 69.31%;
  opacity: 1;
  z-index: 12;
  transform: rotate(0deg);
  overflow: hidden;
}
.nodeBg-232219 {
  opacity: 1;
  background-image: var(--image-2);
}
.search-icon-circle {
  width: 75%;
  height: 75%;
  top: 8.33%;
  left: 8.33%;
  opacity: 1;
  z-index: 0;
  transform: rotate(0deg);
  overflow: hidden;
  box-sizing: border-box;
}
.nodeBg-232220 {
  opacity: 1;
  background-image: var(--image-3);
}
.search-icon-handle {
  width: 26.46%;
  height: 26.46%;
  top: 65.21%;
  left: 65.21%;
  opacity: 1;
  z-index: 1;
  transform: rotate(0deg);
  overflow: hidden;
  box-sizing: border-box;
}
.user-name {
  width: 2.57%;
  height: 2.34%;
  top: 4.88%;
  left: 90.35%;
  opacity: 1;
  z-index: 14;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.user-name-1 {
  font-size: calc(16 * var(--ratio));

  line-height: calc(16 * var(--ratio));

  font-family: Poppins;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #000000ff;
}
.notification-icon {
  width: 1.67%;
  height: 2.34%;
  top: 4.98%;
  left: 57.36%;
  opacity: 1;
  z-index: 49;
  transform: rotate(0deg);
  overflow: hidden;
}
.nodeBg-232352 {
  opacity: 1;
  background-image: var(--image-4);
}
.notification-icon-dot {
  width: 29.17%;
  height: 29.17%;
  top: 8.33%;
  left: 62.5%;
  opacity: 1;
  z-index: 1;
  transform: rotate(0deg);
  overflow: hidden;
}
.nodeBg-232351 {
  opacity: 1;
  background-image: var(--image-5);
}
.notification-icon-bell {
  width: 81.25%;
  height: 81.25%;
  top: 9.38%;
  left: 9.38%;
  opacity: 1;
  z-index: 0;
  transform: rotate(0deg);
  overflow: hidden;
  box-sizing: border-box;
}
.user-dropdown-icon {
  width: 1.11%;
  height: 0.68%;
  top: 5.76%;
  left: 93.33%;
  opacity: 1;
  z-index: 15;
  transform: rotate(0deg);
  overflow: hidden;
}
.nodeBg-232224 {
  opacity: 1;
  background-image: var(--image-6);
}
.dropdown-arrow {
  width: 62.56%;
  height: 78.86%;
  top: 14.15%;
  left: 18.75%;
  opacity: 1;
  z-index: 0;
  transform: rotate(0deg);
  overflow: hidden;
}
.welcome-message {
  width: 26.88%;
  height: 17.58%;
  top: 13.09%;
  left: 5.56%;
  opacity: 1;
  z-index: 17;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.welcome-message-1,
.welcome-message-1-2-3-4 {
  font-size: calc(40 * var(--ratio));
  letter-spacing: calc(0.4 * var(--ratio));
  line-height: calc(40 * var(--ratio));

  font-family: Poppins;
  font-weight: 600;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #000000ff;
}
.welcome-message-1-2 {
  font-size: calc(40 * var(--ratio));
  letter-spacing: calc(0.4 * var(--ratio));
  line-height: calc(40 * var(--ratio));

  font-family: Poppins;
  font-weight: 600;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #d6b900ff;
}
.welcome-message-1-2-3 {
  font-size: calc(40 * var(--ratio));
  letter-spacing: calc(0.4 * var(--ratio));
  line-height: calc(40 * var(--ratio));

  font-family: Poppins;
  font-weight: 600;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #ff9e1cff;
}
.course-card-separator {
  width: 6.6%;
  height: 23.44%;
  top: 13.28%;
  left: 36.74%;
  opacity: 1;
  z-index: 2;
  transform: rotate(0deg);
  overflow: hidden;
  border-radius: 15px 15px 15px 15px;
  box-sizing: border-box;
  border-left: 1px solid #a9a9a699;
  border-right: 1px solid #a9a9a699;
  border-top: 1px solid #a9a9a699;
  border-bottom: 1px solid #a9a9a699;
}
.separator-icon-wrapper {
  width: 34.74%;
  height: 13.75%;
  top: 42.92%;
  left: 32.63%;
  opacity: 1;
  z-index: 0;
  transform: rotate(0deg);
}
.separator-icon-background {
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  opacity: 1;
  z-index: 0;
  transform: rotate(0deg);
  overflow: hidden;
  border-radius: 10px 10px 10px 10px;
  background: #fffbb8ff;
}
.nodeBg-232201 {
  opacity: 1;
  background-image: var(--image-7);
}
.separator-icon {
  width: 48.08%;
  height: 48.08%;
  top: 24.44%;
  left: 24.45%;
  opacity: 1;
  z-index: 1;
  transform: rotate(0deg);
  overflow: hidden;
  box-sizing: border-box;
}
.course-card-character-design {
  width: 13.19%;
  height: 23.44%;
  top: 13.28%;
  left: 45%;
  opacity: 1;
  z-index: 1;
  transform: rotate(0deg);
  overflow: hidden;
  border-radius: 15px 15px 15px 15px;
  background: #ffffffff;
}
.nodeBg-232197 {
  background-position: center;
  background-repeat: no-repeat;
  width: calc(159 * var(--ratio));
  height: calc(223.22221339190483 * var(--ratio));
  left: calc(0 * var(--ratio));
  top: calc(-29.11110934504763 * var(--ratio));
  object-fit: cover;
  opacity: 1;
}
.course-image-character-design,
.course-image-storyboarding,
.course-image-visual-storytelling,
.course-image-2d-animation {
  width: 83.16%;
  height: 66.67%;
  top: 6.67%;
  left: 8.42%;
  opacity: 1;
  z-index: 2;
  transform: rotate(0deg);
  overflow: hidden;
  border-radius: 10px 10px 10px 10px;
}
.course-title-character-design {
  width: 66.84%;
  height: 8.75%;
  top: 78.33%;
  left: 8.42%;
  opacity: 1;
  z-index: 0;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.course-title-character-design-1,
.course-title-storyboarding-1,
.course-title-visual-storytelling-1,
.course-title-2d-animation-1 {
  font-size: calc(14 * var(--ratio));
  letter-spacing: calc(0.14 * var(--ratio));
  line-height: calc(14 * var(--ratio));

  font-family: Poppins;
  font-weight: 600;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #000000ff;
}
.instructor-name-character-design {
  width: 33.16%;
  height: 7.08%;
  top: 86.67%;
  left: 8.42%;
  opacity: 1;
  z-index: 1;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.instructor-name-character-design-1 {
  font-size: calc(11 * var(--ratio));
  letter-spacing: calc(0.11 * var(--ratio));
  line-height: calc(11 * var(--ratio));

  font-family: Poppins;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #000000ff;
}
.course-card-storyboarding {
  width: 13.19%;
  height: 23.44%;
  top: 13.28%;
  left: 59.86%;
  opacity: 1;
  z-index: 3;
  transform: rotate(0deg);
  overflow: hidden;
  border-radius: 15px 15px 15px 15px;
  background: #ffffffff;
}
.course-title-storyboarding {
  width: 55.26%;
  height: 8.75%;
  top: 78.33%;
  left: 8.42%;
  opacity: 1;
  z-index: 0;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.instructor-name-storyboarding {
  width: 36.84%;
  height: 7.08%;
  top: 86.67%;
  left: 8.42%;
  opacity: 1;
  z-index: 1;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.instructor-name-storyboarding-1,
.instructor-name-visual-storytelling-1,
.instructor-name-2d-animation-1,
.to-do-item-storyboard-instructor-1 {
  font-size: calc(11 * var(--ratio));
  letter-spacing: calc(0.11 * var(--ratio));
  line-height: calc(11 * var(--ratio));

  font-family: Poppins;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #616161ff;
}
.course-card-visual-storytelling {
  width: 13.19%;
  height: 23.44%;
  top: 13.28%;
  left: 74.72%;
  opacity: 1;
  z-index: 4;
  transform: rotate(0deg);
  overflow: hidden;
  border-radius: 15px 15px 15px 15px;
  background: #ffffffff;
}
.nodeBg-232209 {
  background-position: center;
  background-repeat: no-repeat;
  width: calc(159 * var(--ratio));
  height: calc(235.07408285860532 * var(--ratio));
  left: calc(0 * var(--ratio));
  top: calc(-5.037041429302658 * var(--ratio));
  object-fit: cover;
  opacity: 1;
}
.course-title-visual-storytelling {
  width: 69.47%;
  height: 8.75%;
  top: 78.33%;
  left: 8.42%;
  opacity: 1;
  z-index: 0;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.instructor-name-visual-storytelling {
  width: 38.95%;
  height: 7.08%;
  top: 86.67%;
  left: 8.42%;
  opacity: 1;
  z-index: 1;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.course-card-2d-animation {
  width: 13.19%;
  height: 23.44%;
  top: 13.28%;
  left: 89.58%;
  opacity: 1;
  z-index: 32;
  transform: rotate(0deg);
  overflow: hidden;
  border-radius: 15px 15px 15px 15px;
  background: #ffffffff;
}
.nodeBg-232333 {
  background-position: center;
  background-repeat: no-repeat;
  width: calc(159 * var(--ratio));
  height: calc(223.26217776241026 * var(--ratio));
  left: calc(0 * var(--ratio));
  top: calc(-18.13109153077676 * var(--ratio));
  object-fit: cover;
  opacity: 1;
}
.course-title-2d-animation {
  width: 51.58%;
  height: 8.75%;
  top: 78.33%;
  left: 8.42%;
  opacity: 1;
  z-index: 0;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.instructor-name-2d-animation {
  width: 28.95%;
  height: 7.08%;
  top: 86.67%;
  left: 8.42%;
  opacity: 1;
  z-index: 1;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.motivational-quote {
  width: 25.83%;
  height: 4.49%;
  top: 32.23%;
  left: 5.56%;
  opacity: 1;
  z-index: 5;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.motivational-quote-1 {
  font-size: calc(15 * var(--ratio));
  letter-spacing: calc(0.15 * var(--ratio));
  line-height: calc(15 * var(--ratio));

  font-family: Poppins;
  font-weight: 500;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #919191ff;
}
.to-do-list-section {
  width: 53.61%;
  height: 19.53%;
  top: 39.65%;
  left: 5.56%;
  opacity: 1;
  z-index: 18;
  transform: rotate(0deg);
  overflow: hidden;
  border-radius: 15px 15px 15px 15px;
  background: #ffffffff;
}
.to-do-list-title {
  width: 11.92%;
  height: 15%;
  top: 8%;
  left: 3.11%;
  opacity: 1;
  z-index: 0;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.to-do-list-title-1,
.my-assignments-title-1,
.pixel-art-title-1 {
  font-size: calc(20 * var(--ratio));
  letter-spacing: calc(0.2 * var(--ratio));
  line-height: calc(20 * var(--ratio));

  font-family: Poppins;
  font-weight: 500;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #000000ff;
}
.to-do-list-avatar-group {
  width: 9.59%;
  height: 12%;
  top: 9.5%;
  left: 69.04%;
  opacity: 1;
  z-index: 4;
  transform: rotate(0deg);
}
.to-do-list-avatar-1 {
  width: 32.43%;
  height: 100%;
  top: 0%;
  left: 0%;
  opacity: 1;
  z-index: 0;
  transform: rotate(0deg);
  overflow: hidden;
  border-radius: 50px 50px 50px 50px;
  box-sizing: border-box;
  border-left: 1px solid #ffffffff;
  border-right: 1px solid #ffffffff;
  border-top: 1px solid #ffffffff;
  border-bottom: 1px solid #ffffffff;
}
.to-do-list-avatar-2 {
  width: 32.43%;
  height: 100%;
  top: 0%;
  left: 17.57%;
  opacity: 1;
  z-index: 1;
  transform: rotate(0deg);
  overflow: hidden;
  border-radius: 50px 50px 50px 50px;
  box-sizing: border-box;
  border-left: 1px solid #ffffffff;
  border-right: 1px solid #ffffffff;
  border-top: 1px solid #ffffffff;
  border-bottom: 1px solid #ffffffff;
}
.to-do-list-avatar-3 {
  width: 32.43%;
  height: 100%;
  top: 0%;
  left: 35.14%;
  opacity: 1;
  z-index: 2;
  transform: rotate(0deg);
  overflow: hidden;
  border-radius: 50px 50px 50px 50px;
  box-sizing: border-box;
  border-left: 1px solid #ffffffff;
  border-right: 1px solid #ffffffff;
  border-top: 1px solid #ffffffff;
  border-bottom: 1px solid #ffffffff;
}
.to-do-list-avatar-4 {
  width: 32.43%;
  height: 100%;
  top: 0%;
  left: 52.7%;
  opacity: 1;
  z-index: 3;
  transform: rotate(0deg);
  overflow: hidden;
  border-radius: 50px 50px 50px 50px;
  box-sizing: border-box;
  border-left: 1px solid #ffffffff;
  border-right: 1px solid #ffffffff;
  border-top: 1px solid #ffffffff;
  border-bottom: 1px solid #ffffffff;
}
.to-do-list-avatar-more {
  width: 29.73%;
  height: 91.67%;
  top: 4.17%;
  left: 70.27%;
  opacity: 1;
  z-index: 4;
  transform: rotate(0deg);
}
.to-do-list-avatar-more-background,
.my-assignments-more-icon-background {
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  opacity: 1;
  z-index: 0;
  transform: rotate(0deg);
  overflow: hidden;
  border-radius: 100px 100px 100px 100px;
  background: #fffbb8ff;
}
.nodeBg-232258 {
  opacity: 1;
  background-image: var(--image-8);
}
.to-do-list-avatar-more-icon {
  width: 40.91%;
  height: 45.45%;
  top: 25%;
  left: 29.55%;
  opacity: 1;
  z-index: 1;
  transform: rotate(0deg);
  overflow: hidden;
  box-sizing: border-box;
}
.to-do-list-edit-button {
  width: 5.57%;
  height: 10%;
  top: 10.5%;
  left: 81.74%;
  opacity: 1;
  z-index: 6;
  transform: rotate(0deg);
}
.to-do-list-edit-text,
.schedule-edit-text {
  width: 55.81%;
  height: 100%;
  top: 0%;
  left: 44.19%;
  opacity: 1;
  z-index: 0;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.to-do-list-edit-text-1,
.to-do-list-share-text-1,
.schedule-edit-text-1 {
  font-size: calc(13 * var(--ratio));
  letter-spacing: calc(0.13 * var(--ratio));
  line-height: calc(13 * var(--ratio));

  font-family: Poppins;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #616161ff;
}
.to-do-list-edit-icon,
.schedule-edit-icon {
  width: 30.23%;
  height: 65%;
  top: 15%;
  left: 0%;
  opacity: 1;
  z-index: 1;
  transform: rotate(0deg);
  overflow: hidden;
}
.nodeBg-232267,
.nodeBg-232279,
.nodeBg-232271 {
  opacity: 1;
  background-image: var(--image-9);
}
.edit-icon-pencil,
.my-assignments-edit-icon-pencil,
.schedule-edit-icon-pencil {
  width: 87.5%;
  height: 81.25%;
  top: 6.25%;
  left: 6.25%;
  opacity: 1;
  z-index: 0;
  transform: rotate(0deg);
  overflow: hidden;
}
.to-do-list-share-button {
  width: 7.51%;
  height: 10%;
  top: 10.5%;
  left: 89.38%;
  opacity: 1;
  z-index: 5;
  transform: rotate(0deg);
}
.to-do-list-share-text {
  width: 67.24%;
  height: 100%;
  top: 0%;
  left: 32.76%;
  opacity: 1;
  z-index: 0;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.to-do-list-share-icon {
  width: 22.41%;
  height: 65%;
  top: 15%;
  left: 0%;
  opacity: 1;
  z-index: 1;
  transform: rotate(0deg);
  overflow: hidden;
}
.nodeBg-232262,
.nodeBg-232276 {
  opacity: 1;
  background-image: var(--image-10);
}
.share-icon-arrow,
.my-assignments-share-icon-arrow {
  width: 52.81%;
  height: 63.73%;
  top: 2.83%;
  left: 42.35%;
  opacity: 1;
  z-index: 0;
  transform: rotate(0deg);
  overflow: hidden;
}
.nodeBg-232263,
.nodeBg-232277 {
  opacity: 1;
  background-image: var(--image-11);
}
.share-icon-base,
.my-assignments-share-icon-base {
  width: 91.41%;
  height: 37.81%;
  top: 59.38%;
  left: 4.22%;
  opacity: 1;
  z-index: 1;
  transform: rotate(0deg);
  overflow: hidden;
}
.nodeBg-232250,
.nodeBg-232274,
.nodeBg-232329 {
  opacity: 1;
  background-image: var(--image-12);
}
.to-do-list-dot {
  width: 0.52%;
  height: 2%;
  top: 14.5%;
  left: 16.06%;
  opacity: 1;
  z-index: 3;
  transform: rotate(0deg);
  overflow: hidden;
}
.to-do-item-character {
  width: 45.34%;
  height: 60%;
  top: 30%;
  left: 3.11%;
  opacity: 1;
  z-index: 1;
  transform: rotate(0deg);
  overflow: hidden;
  border-radius: 15px 15px 15px 15px;
  background: #222222ff;
}
.to-do-item-character-title {
  width: 49.71%;
  height: 35%;
  top: 13.33%;
  left: 4.57%;
  opacity: 1;
  z-index: 0;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.to-do-item-character-title-1 {
  font-size: calc(14 * var(--ratio));
  letter-spacing: calc(0.14 * var(--ratio));
  line-height: calc(14 * var(--ratio));

  font-family: Poppins;
  font-weight: 500;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #ffffffff;
}
.to-do-item-character-priority {
  width: 17.14%;
  height: 20.83%;
  top: 20%;
  left: 76%;
  opacity: 1;
  z-index: 1;
  transform: rotate(0deg);
  overflow: hidden;
  border-radius: 15px 15px 15px 15px;
  background: #f3f3f3ff;
}
.to-do-item-character-priority-text {
  width: 36.67%;
  height: 68%;
  top: 16%;
  left: 31.67%;
  opacity: 1;
  z-index: 0;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.to-do-item-character-priority-text-1 {
  font-size: calc(11 * var(--ratio));
  letter-spacing: calc(0.11 * var(--ratio));
  line-height: calc(11 * var(--ratio));

  font-family: Poppins;
  font-weight: 500;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #616161ff;
}
.to-do-item-character-tag {
  width: 33.71%;
  height: 22.5%;
  top: 64.17%;
  left: 4.57%;
  opacity: 1;
  z-index: 2;
  transform: rotate(0deg);
  border-radius: 10px 10px 10px 10px;
  background: #fcfbd8ff;
}
.to-do-item-character-tag-text {
  width: 76.27%;
  height: 55.56%;
  top: 22.22%;
  left: 11.86%;
  opacity: 1;
  z-index: 0;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.to-do-item-character-tag-text-1 {
  font-size: calc(10 * var(--ratio));
  letter-spacing: calc(0.1 * var(--ratio));
  line-height: calc(10 * var(--ratio));

  font-family: Poppins;
  font-weight: 500;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #807241ff;
}
.to-do-item-character-checkbox,
.to-do-item-storyboard-checkbox {
  width: 6.29%;
  height: 18.33%;
  top: 66.67%;
  left: 86.86%;
  opacity: 1;
  z-index: 4;
  transform: rotate(0deg);
  overflow: hidden;
  border-radius: 50px 50px 50px 50px;
}
.to-do-item-character-instructor {
  width: 18%;
  height: 14.17%;
  top: 69.17%;
  left: 66.57%;
  opacity: 1;
  z-index: 3;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.to-do-item-character-instructor-1 {
  font-size: calc(11 * var(--ratio));
  letter-spacing: calc(0.11 * var(--ratio));
  line-height: calc(11 * var(--ratio));

  font-family: Poppins;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #ffffffff;
}
.to-do-item-storyboard {
  width: 45.34%;
  height: 60%;
  top: 30%;
  left: 51.55%;
  opacity: 1;
  z-index: 2;
  transform: rotate(0deg);
  overflow: hidden;
  border-radius: 15px 15px 15px 15px;
  background: #f9faf5ff;
}
.to-do-item-storyboard-title {
  width: 53.71%;
  height: 35%;
  top: 13.33%;
  left: 4.57%;
  opacity: 1;
  z-index: 0;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.to-do-item-storyboard-title-1 {
  font-size: calc(14 * var(--ratio));
  letter-spacing: calc(0.14 * var(--ratio));
  line-height: calc(14 * var(--ratio));

  font-family: Poppins;
  font-weight: 500;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #000000ff;
}
.to-do-item-storyboard-priority {
  width: 17.14%;
  height: 20.83%;
  top: 20%;
  left: 76%;
  opacity: 1;
  z-index: 1;
  transform: rotate(0deg);
  overflow: hidden;
  border-radius: 15px 15px 15px 15px;
  background: #fcf1e4ff;
}
.to-do-item-storyboard-priority-text {
  width: 43.33%;
  height: 68%;
  top: 16%;
  left: 31.67%;
  opacity: 1;
  z-index: 0;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.to-do-item-storyboard-priority-text-1 {
  font-size: calc(11 * var(--ratio));
  letter-spacing: calc(0.11 * var(--ratio));
  line-height: calc(11 * var(--ratio));

  font-family: Poppins;
  font-weight: 500;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #d7926eff;
}
.to-do-item-storyboard-tag {
  width: 29.14%;
  height: 22.5%;
  top: 64.17%;
  left: 4.57%;
  opacity: 1;
  z-index: 2;
  transform: rotate(0deg);
  border-radius: 10px 10px 10px 10px;
  background: #d8e4f8ff;
}
.to-do-item-storyboard-tag-text {
  width: 72.55%;
  height: 55.56%;
  top: 22.22%;
  left: 13.73%;
  opacity: 1;
  z-index: 0;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.to-do-item-storyboard-tag-text-1 {
  font-size: calc(10 * var(--ratio));
  letter-spacing: calc(0.1 * var(--ratio));
  line-height: calc(10 * var(--ratio));

  font-family: Poppins;
  font-weight: 500;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #294171ff;
}
.to-do-item-storyboard-instructor {
  width: 20%;
  height: 14.17%;
  top: 69.17%;
  left: 64.57%;
  opacity: 1;
  z-index: 3;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.my-assignments-section {
  width: 33.06%;
  height: 19.53%;
  top: 39.65%;
  left: 61.39%;
  opacity: 1;
  z-index: 20;
  transform: rotate(0deg);
  overflow: hidden;
  border-radius: 15px 15px 15px 15px;
  background: #ffffffff;
}
.my-assignments-title {
  width: 35.5%;
  height: 15%;
  top: 8%;
  left: 5.04%;
  opacity: 1;
  z-index: 0;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.my-assignments-more-icon {
  width: 3.15%;
  height: 7.5%;
  top: 11.5%;
  left: 79.62%;
  opacity: 1;
  z-index: 4;
  transform: rotate(0deg);
}
.nodeBg-232282 {
  opacity: 1;
  background-image: var(--image-13);
}
.my-assignments-more-icon-dots {
  width: 41.7%;
  height: 46.24%;
  top: 24.61%;
  left: 29.15%;
  opacity: 1;
  z-index: 1;
  transform: rotate(0deg);
  overflow: hidden;
  box-sizing: border-box;
}
.my-assignments-edit-icon {
  width: 2.73%;
  height: 6.5%;
  top: 12%;
  left: 86.13%;
  opacity: 1;
  z-index: 3;
  transform: rotate(0deg);
  overflow: hidden;
}
.my-assignments-share-icon {
  width: 2.73%;
  height: 6.5%;
  top: 12%;
  left: 92.23%;
  opacity: 1;
  z-index: 2;
  transform: rotate(0deg);
  overflow: hidden;
}
.my-assignments-dot {
  width: 0.84%;
  height: 2%;
  top: 14.5%;
  left: 42.65%;
  opacity: 1;
  z-index: 1;
  transform: rotate(0deg);
  overflow: hidden;
}
.assignment-card-3d-modeling {
  width: 81.93%;
  height: 50%;
  top: 35%;
  left: 5.04%;
  opacity: 1;
  z-index: 6;
  transform: rotate(0deg);
  overflow: hidden;
  border-radius: 15px 15px 15px 15px;
  background: #f9faf5ff;
}
.assignment-title-3d-modeling {
  width: 24.36%;
  height: 23%;
  top: 18%;
  left: 15.9%;
  opacity: 1;
  z-index: 2;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.assignment-title-3d-modeling-1 {
  font-size: calc(15 * var(--ratio));
  letter-spacing: calc(0.15 * var(--ratio));
  line-height: calc(15 * var(--ratio));

  font-family: Poppins;
  font-weight: 500;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #000000ff;
}
.assignment-due-date {
  width: 6.67%;
  height: 40%;
  top: 21%;
  left: 87.18%;
  opacity: 1;
  z-index: 4;
  transform: rotate(0deg);
  text-align: right;
  line-height: 0px;
}
.assignment-due-date-1 {
  font-size: calc(13 * var(--ratio));
  letter-spacing: calc(0.13 * var(--ratio));
  line-height: calc(13 * var(--ratio));

  font-family: Poppins;
  font-weight: 500;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #007a12ff;
}
.assignment-icon-3d-modeling {
  width: 7.69%;
  height: 30%;
  top: 24%;
  left: 4.1%;
  opacity: 1;
  z-index: 0;
  transform: rotate(0deg);
  border-radius: 8px 8px 8px 8px;
  background: #ffffffff;
}
.assignment-icon-3d-modeling-image {
  width: 5.64%;
  height: 18%;
  top: 30%;
  left: 5.13%;
  opacity: 1;
  z-index: 1;
  transform: rotate(0deg);
  overflow: hidden;
}
.assignment-subtitle-3d-modeling {
  width: 43.33%;
  height: 18%;
  top: 41%;
  left: 15.9%;
  opacity: 1;
  z-index: 3;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.assignment-subtitle-3d-modeling-1 {
  font-size: calc(12 * var(--ratio));
  letter-spacing: calc(0.12 * var(--ratio));
  line-height: calc(12 * var(--ratio));

  font-family: Poppins;
  font-weight: 500;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #313131ff;
}
.assignment-progress-percentage {
  width: 6.15%;
  height: 17%;
  top: 71%;
  left: 15.9%;
  opacity: 1;
  z-index: 5;
  transform: rotate(0deg);
  text-align: right;
  line-height: 0px;
}
.assignment-progress-percentage-1 {
  font-size: calc(11 * var(--ratio));
  letter-spacing: calc(0.11 * var(--ratio));
  line-height: calc(11 * var(--ratio));

  font-family: Poppins;
  font-weight: 500;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #000000ff;
}
.assignment-submission-time {
  width: 27.18%;
  height: 16%;
  top: 71%;
  left: 66.67%;
  opacity: 1;
  z-index: 7;
  transform: rotate(0deg);
}
.assignment-submission-time-icon {
  width: 15.09%;
  height: 100%;
  top: 0%;
  left: 0%;
  opacity: 1;
  z-index: 1;
  transform: rotate(0deg);
  overflow: hidden;
}
.submission-time-icon-wrapper {
  width: 75%;
  height: 75%;
  top: 12.5%;
  left: 12.5%;
  opacity: 1;
  z-index: 0;
  transform: rotate(0deg);
  overflow: hidden;
}
.assignment-submission-time-text {
  width: 80.19%;
  height: 93.75%;
  top: 6.25%;
  left: 19.81%;
  opacity: 1;
  z-index: 0;
  transform: rotate(0deg);
  text-align: right;
  line-height: 0px;
}
.assignment-submission-time-text-1 {
  font-size: calc(10 * var(--ratio));
  letter-spacing: calc(0.1 * var(--ratio));
  line-height: calc(10 * var(--ratio));

  font-family: Poppins;
  font-weight: 500;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #919191ff;
}
.assignment-progress-bar {
  width: 25.64%;
  height: 0%;
  top: 79%;
  left: 25.38%;
  opacity: 1;
  z-index: 6;
  transform: rotate(0deg);
}
.nodeBg-232292 {
  opacity: 1;
  background-image: var(--image-14);
}.assignment-progress-bar-background {
  width: 102%;
  height: 100%;
  top: 0;
  left: -1%;
  opacity: 1;
  z-index: 0;
  transform: rotate(0deg);
  overflow: hidden;
  box-sizing: border-box;
}

.nodeBg-232293 {
  opacity: 1;
  background-image: var(--image-15);
}

.assignment-progress-bar-fill {
  width: 67%;
  height: 100%;
  top: 0;
  left: -1%;
  opacity: 1;
  z-index: 1;
  transform: rotate(0deg);
  overflow: hidden;
  box-sizing: border-box;
}

.assignment-card-3d-modeling-selected {
  width: 81.93%;
  height: 50%;
  top: 39.5%;
  left: 6.93%;
  opacity: 1;
  z-index: 5;
  transform: rotate(0deg);
  overflow: hidden;
  border-radius: 15px;
  background: rgba(229, 229, 229, 0.43);
}

.assignments-next-button {
  width: 4.2%;
  height: 10%;
  top: 55%;
  left: 90.76%;
  opacity: 1;
  z-index: 7;
  transform: rotate(0deg);
  overflow: hidden;
}
.nodeBg-232305 {
  opacity: 1;
  background-image: var(--image-16);
}
.assignments-next-button-arrow {
  width: 52%;
  height: 90%;
  top: 5%;
  left: 28%;
  opacity: 1;
  z-index: 0;
  transform: rotate(0deg);
  overflow: hidden;
}
.upcoming-tests-title {
  width: 12.64%;
  height: 3.22%;
  top: 64.36%;
  left: 5.56%;
  opacity: 1;
  z-index: 26;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.upcoming-tests-title-1,
.todays-schedule-title-1 {
  font-size: calc(22 * var(--ratio));
  letter-spacing: calc(0.22 * var(--ratio));
  line-height: calc(22 * var(--ratio));

  font-family: Poppins;
  font-weight: 500;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #000000ff;
}
.todays-schedule-title {
  width: 13.82%;
  height: 3.22%;
  top: 64.36%;
  left: 37.64%;
  opacity: 1;
  z-index: 27;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.pixel-art-title {
  width: 29.58%;
  height: 2.93%;
  top: 64.36%;
  left: 64.03%;
  opacity: 1;
  z-index: 28;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.calendar-icon {
  width: 1.67%;
  height: 2.34%;
  top: 64.75%;
  left: 31.25%;
  opacity: 1;
  z-index: 30;
  transform: rotate(0deg);
  overflow: hidden;
}
.nodeBg-232328 {
  opacity: 1;
  background-image: var(--image-17);
}
.calendar-icon-body {
  width: 83.33%;
  height: 83.33%;
  top: 8.33%;
  left: 8.33%;
  opacity: 1;
  z-index: 0;
  transform: rotate(0deg);
  overflow: hidden;
}
.schedule-edit-button {
  width: 2.99%;
  height: 1.95%;
  top: 65.04%;
  left: 56.18%;
  opacity: 1;
  z-index: 19;
  transform: rotate(0deg);
}
.test-day-label {
  width: 3.06%;
  height: 1.46%;
  top: 65.14%;
  left: 27.08%;
  opacity: 1;
  z-index: 29;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.test-day-label-1 {
  font-size: calc(10 * var(--ratio));
  letter-spacing: calc(0.1 * var(--ratio));
  line-height: calc(10 * var(--ratio));

  font-family: Poppins;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #000000ff;
}
.upcoming-tests-dot {
  width: 0.28%;
  height: 0.39%;
  top: 65.72%;
  left: 26.53%;
  opacity: 1;
  z-index: 31;
  transform: rotate(0deg);
  overflow: hidden;
}
.upcoming-tests-calendar-monday {
  width: 8.33%;
  height: 12.7%;
  top: 69.34%;
  left: 5.56%;
  opacity: 1;
  z-index: 21;
  transform: rotate(0deg);
  overflow: hidden;
  border-radius: 15px 15px 15px 15px;
  background: #f4f4f8ff;
  box-shadow:
    0px 1px 2px 0px rgba(0, 0, 0, 0.10000000149011612),
    0px 5px 5px 0px rgba(0, 0, 0, 0.09000000357627869),
    0px 10px 6px 0px rgba(0, 0, 0, 0.05000000074505806),
    0px 18px 7px 0px rgba(0, 0, 0, 0.009999999776482582),
    0px 28px 8px 0px rgba(0, 0, 0, 0);
}
.upcoming-tests-date-monday,
.upcoming-tests-date-wednesday {
  width: 16.67%;
  height: 23.08%;
  top: 15.38%;
  left: 16.67%;
  opacity: 1;
  z-index: 0;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.upcoming-tests-date-monday-1,
.upcoming-tests-date-thursday-1,
.upcoming-tests-date-friday-1 {
  font-size: calc(20 * var(--ratio));
  letter-spacing: calc(0.2 * var(--ratio));
  line-height: calc(20 * var(--ratio));

  font-family: Poppins;
  font-weight: 500;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #232324ff;
}
.upcoming-tests-day-monday {
  width: 41.67%;
  height: 13.85%;
  top: 70.77%;
  left: 16.67%;
  opacity: 1;
  z-index: 1;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.upcoming-tests-day-monday-1,
.upcoming-tests-day-thursday-1,
.upcoming-tests-day-friday-1 {
  font-size: calc(12 * var(--ratio));
  letter-spacing: calc(0.12 * var(--ratio));
  line-height: calc(12 * var(--ratio));

  font-family: Poppins;
  font-weight: 500;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #a2a2a4ff;
}
.upcoming-tests-calendar-tuesday {
  width: 8.33%;
  height: 12.7%;
  top: 69.34%;
  left: 15%;
  opacity: 1;
  z-index: 24;
  transform: rotate(0deg);
  overflow: hidden;
  border-radius: 15px 15px 15px 15px;
  background: #191919ff;
  box-shadow:
    0px 1px 3px 0px rgba(0, 0, 0, 0.10000000149011612),
    0px 5px 5px 0px rgba(0, 0, 0, 0.09000000357627869),
    0px 10px 6px 0px rgba(0, 0, 0, 0.05000000074505806),
    0px 18px 7px 0px rgba(0, 0, 0, 0.009999999776482582),
    0px 29px 8px 0px rgba(0, 0, 0, 0);
}
.upcoming-tests-date-tuesday,
.upcoming-tests-date-thursday {
  width: 17.5%;
  height: 23.08%;
  top: 15.38%;
  left: 16.67%;
  opacity: 1;
  z-index: 0;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.upcoming-tests-date-tuesday-1,
.upcoming-tests-date-wednesday-1 {
  font-size: calc(20 * var(--ratio));
  letter-spacing: calc(0.2 * var(--ratio));
  line-height: calc(20 * var(--ratio));

  font-family: Poppins;
  font-weight: 500;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #f7f7f7ff;
}
.upcoming-tests-subject-tuesday {
  width: 53.33%;
  height: 13.85%;
  top: 38.46%;
  left: 16.67%;
  opacity: 1;
  z-index: 2;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.upcoming-tests-subject-tuesday-1,
.upcoming-tests-subject-wednesday-1 {
  font-size: calc(12 * var(--ratio));
  letter-spacing: calc(0.12 * var(--ratio));
  line-height: calc(12 * var(--ratio));

  font-family: Poppins;
  font-weight: 500;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #f7f7f7ff;
}
.upcoming-tests-day-tuesday {
  width: 44.17%;
  height: 13.85%;
  top: 70.77%;
  left: 16.67%;
  opacity: 1;
  z-index: 1;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.upcoming-tests-day-tuesday-1,
.upcoming-tests-day-wednesday-1 {
  font-size: calc(12 * var(--ratio));
  letter-spacing: calc(0.12 * var(--ratio));
  line-height: calc(12 * var(--ratio));

  font-family: Poppins;
  font-weight: 500;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #6b6b6bff;
}
.upcoming-tests-calendar-wednesday {
  width: 8.33%;
  height: 12.7%;
  top: 69.34%;
  left: 24.44%;
  opacity: 1;
  z-index: 25;
  transform: rotate(0deg);
  overflow: hidden;
  border-radius: 15px 15px 15px 15px;
  background: #191919ff;
  box-shadow:
    0px 1px 2px 0px rgba(0, 0, 0, 0.10000000149011612),
    0px 4px 4px 0px rgba(0, 0, 0, 0.09000000357627869),
    0px 10px 6px 0px rgba(0, 0, 0, 0.05000000074505806),
    0px 18px 7px 0px rgba(0, 0, 0, 0.009999999776482582),
    0px 28px 8px 0px rgba(0, 0, 0, 0);
}
.upcoming-tests-subject-wednesday {
  width: 63.33%;
  height: 13.85%;
  top: 38.46%;
  left: 16.67%;
  opacity: 1;
  z-index: 2;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.upcoming-tests-day-wednesday {
  width: 61.67%;
  height: 13.85%;
  top: 70.77%;
  left: 16.67%;
  opacity: 1;
  z-index: 1;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.schedule-time-slot-1 {
  width: 9.31%;
  height: 2.05%;
  top: 70.51%;
  left: 37.78%;
  opacity: 1;
  z-index: 35;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.schedule-time-slot-1-1,
.schedule-time-slot-2-1,
.schedule-time-slot-3-1,
.schedule-time-slot-4-1,
.schedule-time-slot-5-1 {
  font-size: calc(14 * var(--ratio));
  letter-spacing: calc(0.14 * var(--ratio));
  line-height: calc(14 * var(--ratio));

  font-family: Poppins;
  font-weight: 500;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #919191ff;
}
.schedule-subject-1 {
  width: 6.74%;
  height: 2.05%;
  top: 70.51%;
  left: 52.43%;
  opacity: 1;
  z-index: 40;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.schedule-subject-1-1,
.schedule-subject-2-1,
.schedule-subject-3-1,
.schedule-subject-4-1,
.schedule-subject-5-1 {
  font-size: calc(14 * var(--ratio));
  letter-spacing: calc(0.14 * var(--ratio));
  line-height: calc(14 * var(--ratio));

  font-family: Poppins;
  font-weight: 500;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #191919ff;
}
.pixel-art-canvas-group-2 {
  width: 9.1%;
  height: 12.79%;
  top: 70.7%;
  left: 67.78%;
  opacity: 1;
  z-index: 53;
  transform: rotate(0deg);
}
.pixel-art-canvas-toolbar-2 {
  width: 100%;
  height: 15.27%;
  top: 0%;
  left: 0%;
  opacity: 1;
  z-index: 1;
  transform: rotate(0deg);
  overflow: hidden;
  background: #fbf59fe5;
}
.pixel-art-canvas-2 {
  width: 100%;
  height: 84.73%;
  top: 15.27%;
  left: 0%;
  opacity: 1;
  z-index: 0;
  transform: rotate(0deg);
  overflow: hidden;
  background: #fbf59fff;
}
.schedule-divider-1 {
  width: 21.39%;
  height: 0%;
  top: 74.12%;
  left: 37.78%;
  opacity: 1;
  z-index: 45;
  transform: rotate(0deg);
  box-shadow:
    inset 0 0 0 0.5px #919191bf,
    inset 0 0 0.5px 0 #919191bf,
    inset 0 0.5px 0 0 #919191bf,
    inset 0.5px 0 0 0 #919191bf;
  border-left: 0px solid #919191bf;
  border-right: 0px solid #919191bf;
  border-top: 0px solid #919191bf;
  border-bottom: 0px solid #919191bf;
}
.pixel-art-canvas-group {
  width: 9.1%;
  height: 12.79%;
  top: 74.12%;
  left: 80.69%;
  opacity: 1;
  z-index: 52;
  transform: rotate(0deg);
}
.pixel-art-canvas-toolbar {
  width: 100%;
  height: 15.27%;
  top: 0%;
  left: 0%;
  opacity: 1;
  z-index: 1;
  transform: rotate(0deg);
  overflow: hidden;
  background: #80caffe5;
}
.pixel-art-canvas {
  width: 100%;
  height: 84.73%;
  top: 15.27%;
  left: 0%;
  opacity: 1;
  z-index: 0;
  transform: rotate(0deg);
  overflow: hidden;
  background: #80caffff;
}
.schedule-time-slot-2 {
  width: 9.79%;
  height: 2.05%;
  top: 75.68%;
  left: 37.78%;
  opacity: 1;
  z-index: 36;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.schedule-subject-2 {
  width: 7.36%;
  height: 2.05%;
  top: 75.68%;
  left: 51.81%;
  opacity: 1;
  z-index: 41;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.schedule-divider-2 {
  width: 21.39%;
  height: 0%;
  top: 79.3%;
  left: 37.78%;
  opacity: 1;
  z-index: 46;
  transform: rotate(0deg);
  box-shadow:
    inset 0 0 0 0.5px #919191bf,
    inset 0 0 0.5px 0 #919191bf,
    inset 0 0.5px 0 0 #919191bf,
    inset 0.5px 0 0 0 #919191bf;
  border-left: 0px solid #919191bf;
  border-right: 0px solid #919191bf;
  border-top: 0px solid #919191bf;
  border-bottom: 0px solid #919191bf;
}
.schedule-time-slot-3 {
  width: 10%;
  height: 2.05%;
  top: 80.86%;
  left: 37.78%;
  opacity: 1;
  z-index: 37;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.schedule-subject-3 {
  width: 7.15%;
  height: 2.05%;
  top: 80.86%;
  left: 52.01%;
  opacity: 1;
  z-index: 42;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.upcoming-tests-calendar-thursday {
  width: 8.33%;
  height: 12.7%;
  top: 83.59%;
  left: 5.56%;
  opacity: 1;
  z-index: 22;
  transform: rotate(0deg);
  overflow: hidden;
  border-radius: 15px 15px 15px 15px;
  background: #f4f4f8ff;
  box-shadow:
    0px 1px 3px 0px rgba(0, 0, 0, 0.10000000149011612),
    0px 5px 5px 0px rgba(0, 0, 0, 0.09000000357627869),
    0px 10px 6px 0px rgba(0, 0, 0, 0.05000000074505806),
    0px 18px 7px 0px rgba(0, 0, 0, 0.009999999776482582),
    0px 29px 8px 0px rgba(0, 0, 0, 0);
}
.upcoming-tests-day-thursday {
  width: 48.33%;
  height: 13.85%;
  top: 70.77%;
  left: 16.67%;
  opacity: 1;
  z-index: 1;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.upcoming-tests-calendar-friday {
  width: 8.33%;
  height: 12.7%;
  top: 83.59%;
  left: 15%;
  opacity: 1;
  z-index: 23;
  transform: rotate(0deg);
  overflow: hidden;
  border-radius: 15px 15px 15px 15px;
  background: #f4f4f8ff;
  box-shadow:
    0px 1px 2px 0px rgba(0, 0, 0, 0.10000000149011612),
    0px 5px 5px 0px rgba(0, 0, 0, 0.09000000357627869),
    0px 10px 6px 0px rgba(0, 0, 0, 0.05000000074505806),
    0px 18px 7px 0px rgba(0, 0, 0, 0.009999999776482582),
    0px 28px 8px 0px rgba(0, 0, 0, 0);
}
.upcoming-tests-date-friday {
  width: 15.83%;
  height: 23.08%;
  top: 15.38%;
  left: 16.67%;
  opacity: 1;
  z-index: 0;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.upcoming-tests-day-friday {
  width: 31.67%;
  height: 13.85%;
  top: 70.77%;
  left: 16.67%;
  opacity: 1;
  z-index: 1;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.upcoming-tests-emoji {
  width: 7.78%;
  height: 10.94%;
  top: 83.69%;
  left: 24.72%;
  opacity: 1;
  z-index: 33;
  transform: rotate(0deg);
  overflow: hidden;
}
.schedule-divider-3 {
  width: 21.39%;
  height: 0%;
  top: 84.47%;
  left: 37.78%;
  opacity: 1;
  z-index: 47;
  transform: rotate(0deg);
  box-shadow:
    inset 0 0 0 0.5px #919191bf,
    inset 0 0 0.5px 0 #919191bf,
    inset 0 0.5px 0 0 #919191bf,
    inset 0.5px 0 0 0 #919191bf;
  border-left: 0px solid #919191bf;
  border-right: 0px solid #919191bf;
  border-top: 0px solid #919191bf;
  border-bottom: 0px solid #919191bf;
}
.schedule-time-slot-4 {
  width: 10.14%;
  height: 2.05%;
  top: 86.04%;
  left: 37.78%;
  opacity: 1;
  z-index: 38;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.schedule-subject-4 {
  width: 6.18%;
  height: 2.05%;
  top: 86.04%;
  left: 52.99%;
  opacity: 1;
  z-index: 43;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.schedule-divider-4 {
  width: 21.39%;
  height: 0%;
  top: 89.65%;
  left: 37.78%;
  opacity: 1;
  z-index: 48;
  transform: rotate(0deg);
  box-shadow:
    inset 0 0 0 0.5px #919191bf,
    inset 0 0 0.5px 0 #919191bf,
    inset 0 0.5px 0 0 #919191bf,
    inset 0.5px 0 0 0 #919191bf;
  border-left: 0px solid #919191bf;
  border-right: 0px solid #919191bf;
  border-top: 0px solid #919191bf;
  border-bottom: 0px solid #919191bf;
}
.upcoming-tests-emoji-shadow {
  width: 8.33%;
  height: 6.35%;
  top: 89.94%;
  left: 24.44%;
  opacity: 1;
  z-index: 34;
  transform: rotate(0deg);
  overflow: hidden;
  border-radius: 15px 15px 15px 15px;
  background: #f4f4f859;
}
.nodeBg-232359 {
  background-position: center;
  background-repeat: no-repeat;
  width: calc(124.3247704569135 * var(--ratio));
  height: calc(111.65115903289735 * var(--ratio));
  left: calc(-62.32477413227805 * var(--ratio));
  top: calc(0 * var(--ratio));
  object-fit: cover;
  opacity: 1;
}
.pixel-art-example {
  width: 4.24%;
  height: 5.08%;
  top: 90.92%;
  left: 76.74%;
  opacity: 1;
  z-index: 51;
  transform: rotate(0deg);
  overflow: hidden;
}
.schedule-time-slot-5 {
  width: 10.07%;
  height: 2.05%;
  top: 91.21%;
  left: 37.78%;
  opacity: 1;
  z-index: 39;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.schedule-subject-5 {
  width: 6.04%;
  height: 2.05%;
  top: 91.21%;
  left: 53.13%;
  opacity: 1;
  z-index: 44;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.pixel-art-tools {
  width: 16.88%;
  height: 4.98%;
  top: 91.8%;
  left: 70.42%;
  opacity: 1;
  z-index: 50;
  transform: rotate(0deg);
  overflow: hidden;
  border-radius: 10px 10px 10px 10px;
  background: #ffffffff;
  box-shadow:
    0px 8px 17px 0px rgba(0, 0, 0, 0.10000000149011612),
    0px 31px 31px 0px rgba(0, 0, 0, 0.09000000357627869),
    0px 71px 42px 0px rgba(0, 0, 0, 0.05000000074505806),
    0px 125px 50px 0px rgba(0, 0, 0, 0.009999999776482582),
    0px 196px 55px 0px rgba(0, 0, 0, 0);
}
.pixel-art-tool-cursor {
  width: 14.4%;
  height: 68.63%;
  top: 15.69%;
  left: 9.88%;
  opacity: 1;
  z-index: 1;
  transform: rotate(0deg);
  overflow: hidden;
  border-radius: 8px 8px 8px 8px;
  background: #0d99ffe5;
}
.pixel-art-tool-cursor-icon {
  width: 68.57%;
  height: 68.57%;
  top: 14.29%;
  left: 17.14%;
  opacity: 1;
  z-index: 0;
  transform: rotate(0deg);
  overflow: hidden;
}
.nodeBg-232358 {
  opacity: 1;
  background-image: var(--image-18);
}
.pixel-art-tool-cursor-icon-shape {
  width: 70.74%;
  height: 79.18%;
  top: 11.45%;
  left: 15.38%;
  opacity: 1;
  z-index: 0;
  transform: rotate(0deg);
  overflow: hidden;
  box-sizing: border-box;
}
.pixel-art-tool-highlight {
  width: 9.88%;
  height: 47.06%;
  top: 25.49%;
  left: 77.78%;
  opacity: 1;
  z-index: 0;
  transform: rotate(0deg);
  overflow: hidden;
}
.nodeBg-232355 {
  opacity: 1;
  background-image: var(--image-19);
}
.pixel-art-tool-highlight-icon {
  width: 75.01%;
  height: 87.5%;
  top: 6.25%;
  left: 12.5%;
  opacity: 1;
  z-index: 0;
  transform: rotate(0deg);
  overflow: hidden;
}
